<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Spent Sharing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Amount Share</ion-label>
      <div item-content>
        <span>{{spentSharing.amountShare}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Share</ion-label>
      <div item-content>
        <span>{{spentSharing.share}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Last Update</ion-label>
      <div item-content>
        <span>{{spentSharing.lastUpdate | date:'mediumDate'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Sharing Profil</ion-label>
      <div item-content *ngIf="spentSharing.sharingProfilId">
        <a>{{spentSharing.sharingProfilDisplayName}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Spent</ion-label>
      <div item-content *ngIf="spentSharing.spentId">
        <a>{{spentSharing.spentLabel}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(spentSharing)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(spentSharing)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
