<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Spent Sharing
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.get('id')">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Amount Share</ion-label>
        <ion-input type="number" name="amountShare" formControlName="amountShare"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Share</ion-label>
        <ion-input type="number" name="share" formControlName="share"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Update</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="lastUpdate" id="field_lastUpdate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Sharing Profil</ion-label>
        <ion-select id="field_sharingProfil" formControlName="sharingProfilId" [compareWith]="compareProfil">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option [value]="profilOption.id" *ngFor="let profilOption of profils; trackBy: trackProfilById"
            >{{profilOption.displayName}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Spent</ion-label>
        <ion-select id="field_spent" formControlName="spentId" [compareWith]="compareSpent">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option [value]="spentOption.id" *ngFor="let spentOption of spents; trackBy: trackSpentById"
            >{{spentOption.label}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
