<ion-header>
  <ion-toolbar color="todo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mes Templates de Liste de Todo
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content class="ion-no-padding ion-no-margin">
  


  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-mha-sync [hasModification]="hasModification"></app-mha-sync>

  <ion-card *ngFor="let todoListTemplate of todoListTemplates; " (click)="view(todoListTemplate)" class="card-of-todo">
    <ion-card-header>
      <ion-card-title>{{todoListTemplate.label}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <mha-profil-data-avatar [profilDataId]="owner.profilDataId" *ngFor="let owner of todoListTemplate.owners;" [slot]="'end'">
      </mha-profil-data-avatar>
    </ion-card-content>
  </ion-card>
  <ion-item *ngIf="!this.todoListTemplates?.length">
    <ion-label>
      Vous n'avez pas de Template de Liste de Todo.
    </ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="new()" color="todo">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>