@import '../mha.scss';

.mha-border-color-todo {
  border-color: var(--ion-color-todo);
}

.mha-card-todo {
  @extend .mha-card;
  @extend .mha-border-color-todo;
}

.mha-owner-card-todo {
  @extend .mha-owner-card;
  @extend .mha-border-color-todo;
}

.mha-divider-todo {
  @extend .mha-divider;
  ion-label {
    color: var(--ion-color-todo);
  }
}

.mha-input-title-todo {
  @extend .mha-input-title;
  ion-input {
    @extend .mha-card-todo;
  }

}

.mha-input-date-todo {
  @extend .mha-input-date;
  ion-datetime {

    @extend .mha-border-color-todo;
    width: 100%;
  }
}

.mha-input-description-todo {
  @extend .mha-input-description;
  ion-textarea {
    @extend .mha-border-color-todo;
  }
}



.mha-input-todo {
  @extend .mha-input-title-todo;
  ion-input {
    font-size: 1rem;
  }

}
