<ion-header>
  <ion-toolbar color="todo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mes Listes de Todos
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content class="ion-no-padding ion-no-margin">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color="todo" size="small">
        <ion-icon name="ellipsis-vertical"></ion-icon>

    </ion-fab-button>
    <ion-fab-list>
        <ion-fab-button color="primary" (click)="goTodoListTemplatePage()">
            <ion-icon name="menu"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>


  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-mha-sync [hasModification]="hasModification"></app-mha-sync>

  <ion-card *ngFor="let todoListSummary of todoListSummaries; " (click)="view(todoListSummary.todoList)" class="card-of-todo">
    <ion-card-header>
      <ion-card-title>{{todoListSummary.todoList.label}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-badge slot="start" color="todo">
        {{todoListSummary.openedTodos}}</ion-badge>
      <mha-profil-data-avatar [profilDataId]="owner.profilDataId" *ngFor="let owner of todoListSummary.todoList.owners;" [slot]="'end'">
      </mha-profil-data-avatar>
    </ion-card-content>
  </ion-card>
  <ion-item *ngIf="!todoListSummaries?.length">
    <ion-label>
      Vous n'avez pas de Liste de Todos.
    </ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="new()" color="todo">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>