<ion-header>
  <ion-toolbar color="info">
    <ion-title>
      Bienvenue sur My Home Activities !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <span class="mha"></span>
  <div>
    <ion-button style="text-transform:none" expand="block" routerLink="/login" id="signIn" color="info" id="signIn" size="large" strong="true">
      <ion-icon name="log-in" slot="start"></ion-icon>
      Se Connecter
    </ion-button>
      <!-- <ion-button color="info" expand="block" routerLink="/login" id="signIn">Se connecter</ion-button> -->

      <!-- <p>{{ 'NO_ACCOUNT_MESSAGE' | translate }}</p>
      <ion-button expand="block" routerLink="/signup">{{ 'SIGNUP' | translate }}</ion-button> -->

  </div>
</ion-content>
