<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Profil Data
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.get('id')">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <div>
          <img
            [src]="'data:' + profilData.photoContentType + ';base64,' + profilData.photo"
            style="max-height: 100px;"
            *ngIf="profilData?.photo"
            alt="profilData image"
          />
          <div *ngIf="profilData.photo">
            <p>{{profilData.photoContentType}}, {{byteSize(profilData.photo)}}</p>
            <ion-button color="danger" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <input type="file" #fileInput style="display: none;" (change)="setFileData($event, 'photo', true)" accept="image/*" />
          <ion-button *ngIf="!profilData?.photo" (click)="getPicture('photo')">
            <ion-icon name="add-circle" slot="start"></ion-icon>
            {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
          </ion-button>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Last Update</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="lastUpdate" id="field_lastUpdate"></ion-datetime>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
