<ion-header>
  <ion-toolbar color="wallet">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mes Porte-Monnaies
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content>
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-mha-sync [hasModification]="hasModification"></app-mha-sync>

  <ion-card *ngFor="let walletSummary of walletSummaries;" (click)="view(walletSummary?.wallet)" class="card-of-wallet">
    <ion-card-header>
      <ion-card-title>{{walletSummary?.wallet.label}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-badge slot="start"
        [color]="walletSummary?.getWalletProfilSummary(activeProfil.id).getBalance()>0?'success': walletSummary?.getWalletProfilSummary(activeProfil.id).getBalance()<0?'danger' :''">
        {{walletSummary?.getWalletProfilSummary(activeProfil.id).getBalance() | currency:'EUR':'symbol-narrow'}}
      </ion-badge>


      <mha-profil-data-avatar [profilDataId]="owner.profilDataId" *ngFor="let owner of walletSummary?.wallet.owners;"
        [slot]="'end'"></mha-profil-data-avatar>

    </ion-card-content>
  </ion-card>

  <ion-item *ngIf="!wallets?.length">
    <ion-label>
      Vous ne possédez pas de porte-monnaie.
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="newWallet()" color="wallet">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>