<ion-header>
    <ion-toolbar color="wallet">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>


        <ion-title *ngIf="wallet">
            {{wallet.label}}
        </ion-title>
    </ion-toolbar>
    <ion-segment color="wallet" (ionChange)="segmentChanged($event)" value="list">
        <ion-segment-button value="list">
            <ion-icon name="receipt-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="summary">
            <ion-icon name="trending-up-outline"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="ion-no-padding ion-no-margin">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="wallet" size="small">
            <ion-icon name="ellipsis-vertical"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="primary" (click)="goUpdatePage($event)">
                <ion-icon name="pencil"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>
    <ion-refresher slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <app-mha-sync [hasModification]="hasModification"></app-mha-sync>
    <div *ngIf="pageToDisplay === 'list'">
        <ion-list>
            <div *ngFor="let spent of scrolledSpents; trackBy: trackId" class="ion-no-padding">
                <app-mha-spent-list-item [spent]="spent"></app-mha-spent-list-item>
            </div>
        </ion-list>
        <ion-item *ngIf="!spents?.length">
            <ion-label>
                Aucune dépense trouvée.
            </ion-label>
        </ion-item>

        <ion-infinite-scroll threshold="100px" #infiniteScroll (ionInfinite)="loadScrolledData($event)">
            <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Chargement des données...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

    <ion-list *ngIf="pageToDisplay === 'summary'">
        <ion-item-divider class="mha-border-color-wallet">
            <ion-label color="wallet">
                <h1>Equilibre</h1>
            </ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let profilSummary of profilSummaries" lines="none">
            <mha-profil-data-avatar [profilId]="profilSummary.profilId" [size]="'s2'">
            </mha-profil-data-avatar>&nbsp;
            <ion-label>{{profilSummary.profilName}}</ion-label>
            <ion-badge slot="end"
                [color]="profilSummary.getBalance()>0?'success': profilSummary.getBalance()<0?'danger' :''">
                {{profilSummary.getBalance() | currency:'EUR':'symbol-narrow'}}
            </ion-badge>
        </ion-item>

        <ion-item-divider class="mha-border-color-wallet">
            <ion-label color="wallet">
                <h1>Détails</h1>
            </ion-label>
        </ion-item-divider>
        <ion-item lines="none">
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                    </ion-col>
                    <ion-col size="3">
                        <div class="mha-wallet-share-header">Dépenses</div>
                    </ion-col>
                    <ion-col size="3">
                        <div class="mha-wallet-share-header">Dûs</div>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let profilSummary of profilSummaries" class="ion-no-padding ion-no-margin">
                    <ion-col size="6" class="ion-no-padding ion-no-margin">
                        <ion-item lines="none" class="ion-no-padding ion-no-margin">
                            <mha-profil-data-avatar [profilId]="profilSummary.profilId" [size]="'s2'">
                            </mha-profil-data-avatar>&nbsp;
                            <ion-label>{{profilSummary.profilName}}</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col class="ion-align-self-center mha-summary-amount-wallet" size="3">
                        {{profilSummary.spent | currency:'EUR':'symbol-narrow'}}
                    </ion-col>
                    <ion-col class="ion-align-self-center mha-summary-amount-wallet" size="3">
                        {{profilSummary.amount | currency:'EUR':'symbol-narrow'}}
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col size="6">
                    </ion-col>
                    <ion-col size="3" class="mha-summary-total-wallet">
                        {{getTotalSpent() | currency:'EUR':'symbol-narrow'}}
                    </ion-col>
                    <ion-col size="3" class="mha-summary-total-wallet">
                        {{getTotalAmount() | currency:'EUR':'symbol-narrow'}}
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-fab *ngIf="pageToDisplay == 'list'" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="newSpent()" color="wallet">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>