<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Todo
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.get('id')">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Label</ion-label>
        <ion-input type="text" name="label" formControlName="label"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Done</ion-label>
        <ion-checkbox formControlName="done"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Last Update</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="lastUpdate" id="field_lastUpdate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Todo List</ion-label>
        <ion-select id="field_todoList" formControlName="todoListId" [compareWith]="compareTodoList" required>
          <ion-select-option *ngIf="!form.value.todoListId" [value]="null" selected></ion-select-option>
          <ion-select-option [value]="todoListOption.id" *ngFor="let todoListOption of todoLists; trackBy: trackTodoListById"
            >{{todoListOption.label}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div [hidden]="!(form.controls.todoList?.dirty && form.controls.todoList?.invalid)">
        <small [hidden]="!form.controls.todoList?.errors?.required">
          This field is required.
        </small>
      </div>
    </ion-list>
  </form>
</ion-content>
