<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Shopping Item
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.get('id')">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Label</ion-label>
        <ion-input type="text" name="label" formControlName="label"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Update</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="lastUpdate" id="field_lastUpdate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Checked</ion-label>
        <ion-checkbox formControlName="checked"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number" name="quantity" formControlName="quantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Unit</ion-label>
        <ion-select formControlName="unit" id="field_unit">
          <ion-select-option value="QUANTITY">{{'Unit.QUANTITY' | translate}}</ion-select-option>
          <ion-select-option value="G">{{'Unit.G' | translate}}</ion-select-option>
          <ion-select-option value="KG">{{'Unit.KG' | translate}}</ion-select-option>
          <ion-select-option value="L">{{'Unit.L' | translate}}</ion-select-option>
          <ion-select-option value="ML">{{'Unit.ML' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Shopping Catalog Sheld</ion-label>
        <ion-select
          id="field_shoppingCatalogSheld"
          formControlName="shoppingCatalogSheldId"
          [compareWith]="compareShoppingCatalogSheld"
          required
        >
          <ion-select-option *ngIf="!form.value.shoppingCatalogSheldId" [value]="null" selected></ion-select-option>
          <ion-select-option
            [value]="shoppingCatalogSheldOption.id"
            *ngFor="let shoppingCatalogSheldOption of shoppingCatalogShelds; trackBy: trackShoppingCatalogSheldById"
            >{{shoppingCatalogSheldOption.label}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div [hidden]="!(form.controls.shoppingCatalogSheld?.dirty && form.controls.shoppingCatalogSheld?.invalid)">
        <small [hidden]="!form.controls.shoppingCatalogSheld?.errors?.required">
          This field is required.
        </small>
      </div>
      <ion-item>
        <ion-label>Shopping Cart</ion-label>
        <ion-select id="field_shoppingCart" formControlName="shoppingCartId" [compareWith]="compareShoppingCart" required>
          <ion-select-option *ngIf="!form.value.shoppingCartId" [value]="null" selected></ion-select-option>
          <ion-select-option
            [value]="shoppingCartOption.id"
            *ngFor="let shoppingCartOption of shoppingCarts; trackBy: trackShoppingCartById"
            >{{shoppingCartOption.label}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div [hidden]="!(form.controls.shoppingCart?.dirty && form.controls.shoppingCart?.invalid)">
        <small [hidden]="!form.controls.shoppingCart?.errors?.required">
          This field is required.
        </small>
      </div>
    </ion-list>
  </form>
</ion-content>
