// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Palette https://www.color-hex.com/color-palette/471 used **/

  --ion-color-todo: #a200ff;
  --ion-color-todo-rgb: 162, 0, 255;
  --ion-color-todo-contrast: #ffffff;
  --ion-color-todo-contrast-rgb: 255, 255, 255;
  --ion-color-todo-shade: #8f00e0;
  --ion-color-todo-tint: #ab1aff;

  --ion-color-workspace: #3880ff;
  --ion-color-workspace-rgb: 56, 128, 255;
  --ion-color-workspace-contrast: #ffffff;
  --ion-color-workspace-contrast-rgb: 255, 255, 255;
  --ion-color-workspace-shade: #3171e0;
  --ion-color-workspace-tint: #4c8dff;

   --ion-color-wallet: #f47835;
  --ion-color-wallet-rgb: 244, 120, 53;
  --ion-color-wallet-contrast: #ffffff;
  --ion-color-wallet-contrast-rgb: 0, 0, 0;
  --ion-color-wallet-shade: #d76a2f;
  --ion-color-wallet-tint: #f58649;

  --ion-color-home: #00aedb;
  --ion-color-home-rgb: 0, 174, 219;
  --ion-color-home-contrast: #ffffff;
  --ion-color-home-contrast-rgb: 255, 255, 255;
  --ion-color-home-shade: #0099c1;
  --ion-color-home-tint: #1ab6df;

  --ion-color-task: #d41243;
  --ion-color-task-rgb: 212, 18, 67;
  --ion-color-task-contrast: #ffffff;
  --ion-color-task-contrast-rgb: 255, 255, 255;
  --ion-color-task-shade: #bb103b;
  --ion-color-task-tint: #d82a56;

  --ion-color-shopping: #8ec127;
  --ion-color-shopping-rgb: 142, 193, 39;
  --ion-color-shopping-contrast: #ffffff;
  --ion-color-shopping-contrast-rgb: 255, 255, 255;
  --ion-color-shopping-shade: #7daa22;
  --ion-color-shopping-tint: #99c73d;

  --ion-color-info: #000080;
  --ion-color-info-rgb: 0,0,128;
  --ion-color-info-contrast: #ffffff;
  --ion-color-info-contrast-rgb: 255,255,255;
  --ion-color-info-shade: #000071;
  --ion-color-info-tint: #1a1a8d;

  /** Fonts **/
  --ion-font-family: "Roboto";
  ion-menu-toggle {
    font-size: 8px;
  }


}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/roboto/Roboto-RegularItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/roboto/Roboto-BoldItalic.ttf");
}

.ion-color-task {
  --ion-color-base: var(--ion-color-task);
  --ion-color-base-rgb: var(--ion-color-task-rgb);
  --ion-color-contrast: var(--ion-color-task-contrast);
  --ion-color-contrast-rgb: var(--ion-color-task-contrast-rgb);
  --ion-color-shade: var(--ion-color-task-shade);
  --ion-color-tint: var(--ion-color-task-tint);
}

.ion-color-workspace {
  --ion-color-base: var(--ion-color-workspace);
  --ion-color-base-rgb: var(--ion-color-workspace-rgb);
  --ion-color-contrast: var(--ion-color-workspace-contrast);
  --ion-color-contrast-rgb: var(--ion-color-workspace-contrast-rgb);
  --ion-color-shade: var(--ion-color-workspace-shade);
  --ion-color-tint: var(--ion-color-workspace-tint);
}
.ion-color-wallet {
  --ion-color-base: var(--ion-color-wallet);
  --ion-color-base-rgb: var(--ion-color-wallet-rgb);
  --ion-color-contrast: var(--ion-color-wallet-contrast);
  --ion-color-contrast-rgb: var(--ion-color-wallet-contrast-rgb);
  --ion-color-shade: var(--ion-color-wallet-shade);
  --ion-color-tint: var(--ion-color-wallet-tint);
}

.ion-color-home {
  --ion-color-base: var(--ion-color-home);
  --ion-color-base-rgb: var(--ion-color-home-rgb);
  --ion-color-contrast: var(--ion-color-home-contrast);
  --ion-color-contrast-rgb: var(--ion-color-home-contrast-rgb);
  --ion-color-shade: var(--ion-color-home-shade);
  --ion-color-tint: var(--ion-color-home-tint);
}

.ion-color-todo {
  --ion-color-base: var(--ion-color-todo);
  --ion-color-base-rgb: var(--ion-color-todo-rgb);
  --ion-color-contrast: var(--ion-color-todo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-todo-contrast-rgb);
  --ion-color-shade: var(--ion-color-todo-shade);
  --ion-color-tint: var(--ion-color-todo-tint);
}

.ion-color-shopping {
  --ion-color-base: var(--ion-color-shopping);
  --ion-color-base-rgb: var(--ion-color-shopping-rgb);
  --ion-color-contrast: var(--ion-color-shopping-contrast);
  --ion-color-contrast-rgb: var(--ion-color-shopping-contrast-rgb);
  --ion-color-shade: var(--ion-color-shopping-shade);
  --ion-color-tint: var(--ion-color-shopping-tint);
}

.ion-color-info {
  --ion-color-base: var(--ion-color-info);
  --ion-color-base-rgb: var(--ion-color-info-rgb);
  --ion-color-contrast: var(--ion-color-info-contrast);
  --ion-color-contrast-rgb: var(--ion-color-info-contrast-rgb);
  --ion-color-shade: var(--ion-color-info-shade);
  --ion-color-tint: var(--ion-color-info-tint);
}

.profil-popover {
  .popover-content {
    //width: 80% !important; - this wont work or the bottom one.
    --min-width: 90vw !important;
  }
}

$ion-card-of-border-radius: 10px;
$ion-card-of-border-type: dashed;

/* ion-card.card-of-task {
  border: $ion-card-of-border-type var(--ion-color-task);
  border-radius: $ion-card-of-border-radius;
}

ion-card.card-of-wallet {
  border: $ion-card-of-border-type var(--ion-color-wallet);
  border-radius: $ion-card-of-border-radius;
}  */

.card-of {
  border-width: 1px;
  border-radius: $ion-card-of-border-radius;
  border-style: $ion-card-of-border-type;
}
ion-card.card-of-task {
  @extend .card-of;
  border-color: var(--ion-color-task);
}

ion-card.card-of-todo {
  @extend .card-of;
  border-color: var(--ion-color-todo);
}

ion-card.card-of-wallet {
  @extend .card-of;
  border-color: var(--ion-color-wallet);
}

ion-card.card-of-shopping {
  @extend .card-of;
  border-color: var(--ion-color-shopping);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;
  }
}
