<ion-header>
    <ion-toolbar color="shopping">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>


        <ion-title *ngIf="shoppingCart">
            {{shoppingCart.label}}
        </ion-title>

        <ion-toggle [(ngModel)]="itemListwithChecks" slot="end" class="mha-valide-toggle-shopping"></ion-toggle>
        <ion-label class="mha-valide-label-shopping" slot="end">Afficher les validés</ion-label>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="shopping" size="small">
            <ion-icon name="ellipsis-vertical"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="primary" (click)="goUpdatePage($event)">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="cleanModal()">
                <ion-icon name="close-circle"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-refresher slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-mha-sync [hasModification]="hasModification"></app-mha-sync>

    <ng-template #shoppingItemTemplate let-attrs="attrs">

        <span
            [innerHTML]="attrs.data.label | boldprefix:attrs.keyword"></span>&nbsp;({{attrs.data.shoppingCatalogSheldLabel}})
    </ng-template>

    <ion-auto-complete [dataProvider]="autocompleteShoppingCatalogItemService"
        (itemSelected)="addSelectedShoppingItem($event)" (ionAutoInput)="setShoppingItemLabel($event)" [maxResults]="10"
        [removeButtonColor]="'dark'" [template]="shoppingItemTemplate" [options]="autoCompleteOptions"
        [showResultsFirst]="false" [clearInvalidInput]="true" #autocompleteShoppingCatalogItem></ion-auto-complete>
    <ion-list class="ion-padding mha-list-item">
        <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)" id="reorderGroup">
            <ng-container *ngIf="shoppingCartSummary && shoppingCartSummary.sheldSummaries">
                <ng-container *ngFor="let sheldSummary of shoppingCartSummary.sheldSummaries; trackBy: trackId">

                    <ion-item class="ion-no-padding ion-no-margin mha-sheld-label" lines="none"
                        (click)="itemsUpdated()">
                        <ion-label class="ion-no-padding ion-no-margin">
                            {{sheldSummary.sheldLabel}}
                        </ion-label>
                        <ion-badge color="shopping">{{sheldSummary.numberOfItems()}}</ion-badge>
                    </ion-item>
                    <ng-container *ngFor="let shoppingItemSummary of sheldSummary.shoppingItemSummaries;">
                        <ng-container *ngIf="itemListwithChecks || !shoppingItemSummary.shoppingItem.checked">
                            <ion-item *ngIf="!shoppingItemSummary.onUpdate"
                                class="mha-item-label ion-no-padding ion-no-margin" lines="none" button>
                                <ion-checkbox slot="start" size="small"
                                    [color]="shoppingItemSummary.shoppingItem.checked?'light':'shopping'"
                                    (ionChange)="updateItem($event, sheldSummary, shoppingItemSummary)"
                                    [(ngModel)]="shoppingItemSummary.shoppingItem.checked">
                                </ion-checkbox>
                                <ion-label (click)="toUpdateItem(shoppingItemSummary)"
                                    *ngIf="shoppingItemSummary.shoppingItem.checked"
                                    class="mha-item-label-done-shopping">{{shoppingItemSummary.shoppingItem.label}}
                                </ion-label>
                                <ion-label (click)="toUpdateItem(shoppingItemSummary)"
                                    *ngIf="!shoppingItemSummary.shoppingItem.checked"
                                    class="mha-item-label-notdone-shopping">{{shoppingItemSummary.shoppingItem.label}}
                                </ion-label>
                                <ion-badge (click)="toUpdateItem(shoppingItemSummary)"
                                    *ngIf="shoppingItemSummary.shoppingItem.quantity || shoppingItemSummary.shoppingItem.unit"
                                    slot="end" color="light">{{shoppingItemSummary.shoppingItem | shoppingQuantity}}
                                </ion-badge>
                                <ion-reorder *ngIf="!shoppingItemSummary.shoppingItem.checked" slot="end">
                                    <ion-icon name="reorder-two-outline" size="small"></ion-icon>
                                </ion-reorder>
                            </ion-item>
                            <ion-item *ngIf="shoppingItemSummary.onUpdate"
                                class="mha-item-modification-line-shopping ion-no-padding ion-no-margin" lines="none">

                                <ion-checkbox slot="start"
                                    [color]="shoppingItemSummary.shoppingItem.checked?'light':'shopping'"
                                    (ionChange)="updateItem($event, sheldSummary, shoppingItemSummary)"
                                    [(ngModel)]="shoppingItemSummary.shoppingItem.checked">
                                </ion-checkbox>
                                <ion-grid class="mha-input-grid-shopping">
                                    <ion-row>
                                        <ion-col size="9" class="mha-input-col-shopping">

                                            <ion-input class="mha-input-item-shopping" type="text" inputmode="text"
                                                [(ngModel)]="shoppingItemSummary.shoppingItem.label"
                                                (ionBlur)="updateItem($event, sheldSummary, shoppingItemSummary)"
                                                autofocus>
                                            </ion-input>
                                        </ion-col>
                                        <ion-col size="3" class="mha-input-col-shopping">
                                            <ion-input class="mha-input-item-qty-shopping" type="number"
                                                inputmode="number"
                                                [(ngModel)]="shoppingItemSummary.shoppingItem.quantity"
                                                (ionBlur)="updateItem($event, sheldSummary, shoppingItemSummary)"
                                                autofocus>
                                            </ion-input>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                                <ion-select [(ngModel)]="shoppingItemSummary.shoppingItem.unit"
                                    (ionBlur)="updateItem($event, sheldSummary, shoppingItemSummary)"
                                    interface="popover">
                                    <ion-select-option value="QUANTITY">qte</ion-select-option>
                                    <ion-select-option value="G">g</ion-select-option>
                                    <ion-select-option value="KG">kg</ion-select-option>
                                    <ion-select-option value="L">l</ion-select-option>
                                    <ion-select-option value="ML">ml</ion-select-option>
                                </ion-select>

                            </ion-item>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>


        </ion-reorder-group>




    </ion-list>




</ion-content>