<ion-header>
  <ion-toolbar color="shopping">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mes Listes de Courses
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content class="ion-no-padding ion-no-margin">



  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-mha-sync [hasModification]="hasModification"></app-mha-sync>

  <ion-card *ngFor="let shoppingCartSummary of shoppingCartSummaries; " (click)="view(shoppingCartSummary.shoppingCart)"
    class="card-of-shopping">
    <ion-card-header>
      <ion-card-title>{{shoppingCartSummary.shoppingCart.label}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-badge slot="start" color="shopping">
        {{shoppingCartSummary.openedShoppingItems}}</ion-badge>
      <mha-profil-data-avatar [profilDataId]="owner.profilDataId"
        *ngFor="let owner of shoppingCartSummary.shoppingCart.owners;" [slot]="'end'">
      </mha-profil-data-avatar>
    </ion-card-content>
  </ion-card>
  <ion-item *ngIf="!shoppingCartSummaries?.length">
    <ion-label>
      Vous n'avez pas de Liste de Courses.
    </ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="new()" color="shopping">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>