@import "../mha.scss";

ion-auto-complete {
  width: 100vw;
}

.mha-border-color-shopping {
  border-color: var(--ion-color-shopping);
}

.mha-card-shopping {
  @extend .mha-card;
  @extend .mha-border-color-shopping;
}

.mha-owner-card-shopping {
  @extend .mha-owner-card;
  @extend .mha-border-color-shopping;
}

.mha-divider-shopping {
  @extend .mha-divider;
  ion-label {
    color: var(--ion-color-shopping);
  }
}

.mha-input-title-shopping {
  @extend .mha-input-title;
  ion-input {
    @extend .mha-card-shopping;
  }
}

.mha-input-item-shopping {
  @extend .mha-card-shopping;
  --padding-top: 0px;
  --padding-bottom: 0px;
  font-size: 0.9rem;
}

.mha-input-item-qty-shopping {
  @extend .mha-input-item-shopping;
  text-align: end;
}

.mha-input-grid-shopping {

  padding: 0 0 0 0px;
}
.mha-input-col-shopping {
  padding: 0 0 0 10px;
}

.mha-item-modification-line-shopping {
  ion-label {
    padding-bottom: 0px;
  }
  
  ion-checkbox {
    margin: 0px;
  }
  ion-select {
    font-size: 0.9rem;
    --padding-top: 0px;
    --padding-bottom: 0px;
  }
  
  &.item-has-focus {
    ion-input {
      background: rgb(236, 236, 236);
    }
  }
}

.mha-list-item {
  ion-item {
    --min-height: 0px;
    margin: 2px;
  }
}

.mha-sheld-label {
  ion-label {
    color: var(--ion-color-shopping);
    font-size: 1rem;
  }
}

.mha-item-label {
  ion-label {
    margin: 0 0 0 10px;
    font-size: 0.9rem;
  }
  ion-checkbox {
    //height: 10px;
    margin: 0px;
  }
  ion-badge {
    font-size: 0.9rem;
    font-weight: normal;
  }
}

.mha-catalog-select-shopping {
  ion-select{
    min-width: 100% !important;
}
}

.mha-input-date-shopping {
  @extend .mha-input-date;
  ion-datetime {
    @extend .mha-border-color-shopping;
    width: 100%;
  }
}

.mha-input-description-shopping {
  @extend .mha-input-description;
  ion-textarea {
    @extend .mha-border-color-shopping;
  }
}

.mha-input-shopping {
  @extend .mha-input-title-shopping;
  ion-input {
    font-size: 0.9rem;
  }
  ion-checkbox {
    //height: 10px;
    margin: 0px;
  }
  ion-select {
    font-size: 0.9rem;
  }
}

.mha-valide-label-shopping {
  font-size: 0.6rem;
  margin-right: 10px;
}


.mha-valide-toggle-shopping {
  --handle-background-checked: #ffffff;
  --handle-background: var(--ion-color-shopping-tint);
  --background: var(--ion-color-shopping-shade);
  --background-checked:var(--ion-color-shopping-shade);
}

.mha-item-label-done-shopping {
  color: lightgray;
  text-decoration: line-through;
  padding: 5px 0 5px 0;
}
.mha-item-label-notdone-shopping {
  padding: 5px 0 5px 0;

}