<ion-header>
  <ion-toolbar color="info">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Home Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <span class="mha-logo"></span>
  <form (submit)="doLogin()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'REMEMBER_ME' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="account.rememberMe" name="rememberMe" color="info"></ion-toggle>
      </ion-item>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-button style="text-transform:none" expand="block" type="submit" color="info" id="login" size="large" strong="true">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Se Connecter
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
  <ion-fab vertical="top" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="doClear()" color="info">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <form (submit)="doClear()">
    <ion-list>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-button style="text-transform:none" expand="block" type="submit" color="secondary" id="clear">
            <ion-icon name="trash" slot="start"></ion-icon>
            Vider le cache
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </form> -->

</ion-content>