<ion-header>
  <ion-toolbar color="home">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  
  <!-- <ion-item>
    <ion-label *ngIf="workspace">
      Bienvenue dans l'espace {{workspace.label}}
    </ion-label>
  </ion-item> -->
  
  <ion-card >
    <ion-card-header>
      <ion-card-title color="home">Dernière mise à jour</ion-card-title>
      <ion-card-subtitle>La dernière mise à jour a été effectuée à : </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        {{lastUpdate | date:'EEEE'}} {{lastUpdate | date:'longDate'}} à {{lastUpdate | date:'mediumTime'}}
        <ion-button slot="end" size="large" color="home" (click)="refresh()">
          <ion-icon size="large"  name="refresh-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title color="workspace">Espace de travail</ion-card-title>
      
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Vous travaillez dans l'espace : {{workspace.label}} 
        <ion-button slot="end" color="workspace" routerLink="/menu/workspace" routerDirection="forward"
        routerLinkActive="workspacetactive" size="large" >
          <ion-icon name="business" size="large" ></ion-icon>

      </ion-button>
        
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>