<!-- <ion-item-sliding #slidingItem> -->

    <ion-item class="mha-input-shopping ion-no-padding ion-no-margin" lines="none" button (click)="toUpdate()">
        <ion-checkbox slot="start" mode="ios" [color]="shoppingItem.checked?'light':'shopping'"
            (ionChange)="update($event)" [(ngModel)]="shoppingItem.checked"></ion-checkbox>


        <ion-label>{{shoppingItem.label}}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
    </ion-item>

<!-- <ion-item-options side="end">
        <ion-item-option (click)="delete(slidingItem)" color="light">
            <ion-icon name="trash" color="danger" size="small"></ion-icon>
        </ion-item-option>

    </ion-item-options>
</ion-item-sliding> -->