<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Spent Configs
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let spentConfig of spentConfigs; trackBy: trackId" #slidingItem>
      <ion-item (click)="view(spentConfig)">
        <ion-label text-wrap>
          <p>{{spentConfig.label}}</p>
          <p>{{spentConfig.amount}}</p>
          <p>{{spentConfig.spentLabel}}</p>
          <p>{{spentConfig.lastUpdate | date:'mediumDate'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, spentConfig)">
          {{ 'EDIT_BUTTON' | translate }}
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(spentConfig)">
          {{ 'DELETE_BUTTON' | translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!spentConfigs?.length">
    <ion-label>
      No Spent Configs found.
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
