<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Spent Sharing Config
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Share</ion-label>
      <div item-content>
        <span>{{spentSharingConfig.share}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Last Update</ion-label>
      <div item-content>
        <span>{{spentSharingConfig.lastUpdate | date:'mediumDate'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Spent Config</ion-label>
      <div item-content *ngIf="spentSharingConfig.spentConfigId">
        <a>{{spentSharingConfig.spentConfigLabel}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Profil</ion-label>
      <div item-content *ngIf="spentSharingConfig.profilId">
        <a>{{spentSharingConfig.profilDisplayName}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(spentSharingConfig)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(spentSharingConfig)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
