<ion-header translucent>
  <ion-toolbar [color]="color">
    <ion-title>Choisir les participants</ion-title>
    
    <!-- <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fermer</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!singleSelectMode">
    <ion-fab-button (click)="dismiss()" [color]="color">
        <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
</ion-fab>
  <ion-list>
    <ion-item *ngFor="let checkboxProfil of checkboxProfils;" lines="full">
      <ion-checkbox [disabled]="isDisabled(checkboxProfil)" mode="ios" slot="start" [(ngModel)]="checkboxProfil.isChecked" [color]="color" (ionChange)="checked(checkboxProfil)"></ion-checkbox>
      <mha-profil-data-avatar slot="start" size="medium" [profilDataId]="checkboxProfil.profil.profilDataId">
      </mha-profil-data-avatar>
      <ion-label>{{checkboxProfil.profil.displayName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>