<ion-item class="ion-no-padding ion-no-margin item-multiple-inputs workaround" lines="full" button>
    <ion-checkbox [disabled]="!canMarkDone()" slot="start" mode="ios" [color]="task.done?'light':'task'" (ionChange)="updateTask($event)"
        [(ngModel)]="task.done"></ion-checkbox>

    <ion-label [ngClass]="task.done?'mha-item-list-done':'mha-item-list-notdone'" (click)="openTask()">{{task.label}}</ion-label>
    <ion-badge *ngIf="task.dueDate" color="light" mode="ios" slot="end" [ngClass]="task.done?'mha-item-list-done':'mha-item-list-notdone'+' mha-item-list-badge'"
        (click)="openTask()">{{task.dueDate | date:'E d MMM'}}</ion-badge>
    <ion-avatar *ngFor="let ownerProfilData of ownersProfilData" slot="end" (click)="openTask()"
        [ngClass]="task.done?'mha-item-list-avatar-done':'mha-item-list-avatar-notdone'">
        <img class="avatar" [src]="'data:' + ownerProfilData.photoContentType + ';base64,' + ownerProfilData.photo" />
    </ion-avatar>

</ion-item>