<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Spent
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.get('id')">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Label</ion-label>
        <ion-input type="text" name="label" formControlName="label"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input type="text" name="description" formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Amount</ion-label>
        <ion-input type="number" name="amount" formControlName="amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Spent Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="spentDate" id="field_spentDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Confirmed</ion-label>
        <ion-checkbox formControlName="confirmed"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Last Update</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="lastUpdate" id="field_lastUpdate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Wallet</ion-label>
        <ion-select id="field_wallet" formControlName="walletId" [compareWith]="compareWallet">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option [value]="walletOption.id" *ngFor="let walletOption of wallets; trackBy: trackWalletById"
            >{{walletOption.label}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Spender</ion-label>
        <ion-select id="field_spender" formControlName="spenderId" [compareWith]="compareProfil">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option [value]="profilOption.id" *ngFor="let profilOption of profils; trackBy: trackProfilById"
            >{{profilOption.displayName}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
