<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Task
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Label</ion-label>
      <div item-content>
        <span>{{task.label}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Description</ion-label>
      <div item-content>
        <span>{{task.description}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Done</ion-label>
      <div item-content>
        <span>{{task.done}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Due Date</ion-label>
      <div item-content>
        <span>{{task.dueDate | date:'mediumDate'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Last Update</ion-label>
      <div item-content>
        <span>{{task.lastUpdate | date:'mediumDate'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Owner</ion-label>
      <div item-content>
        <span *ngFor="let owner of task.owners; let last = last"> <a>{{owner.id}}</a>{{last ? '' : ', '}} </span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Task Project</ion-label>
      <div item-content *ngIf="task.taskProjectId">
        <a>{{task.taskProjectLabel}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(task)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(task)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
