<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Todo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Label</ion-label>
      <div item-content>
        <span>{{todoList.label}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Last Update</ion-label>
      <div item-content>
        <span>{{todoList.lastUpdate | date:'mediumDate'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Owner</ion-label>
      <div item-content>
        <span *ngFor="let owner of todoList.owners; let last = last"> <a>{{owner.displayName}}</a>{{last ? '' : ', '}} </span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Workspace</ion-label>
      <div item-content *ngIf="todoList.workspaceId">
        <a>{{todoList.workspaceLabel}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(todoList)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(todoList)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
